*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body #idex{
    display: flex;
    justify-content: center;
    align-self: center;
    min-height: 100vh;
    background-image:url("../img/backgroun/bc.png");
}
.elems{
    position: relative;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: minmax(100px, auto);
    margin: 20px;
    grid-auto-flow: dense;
    grid-gap: 10px;
}
.elems .box{
    background: #333;
    padding: 20px;
    display: grid;
    font-size: 20px;
    place-content: center;
    text-align: center;
    color: #fff;
    transition: 0.7s;
}

.elems .box:hover{
    background: #006600;
}

.elems .box img{
    position: relative;
    max-width: 100px;
    margin-bottom: 10px;
}

.elems .box:nth-child(1){
    grid-column: span 2;
    grid-row: span 2;
    background: rgba(0,0,0,0.5);
}
.elems .box#kocsma{
    background-size: cover;
}
#kocsma{
    animation: valt 90s ease-in-out infinite;
}
@keyframes valt{
    100%, 0%{
        background-image: url("../img/pubs/cegerem/BarCraft Szeged.jpg");
        height: 100%;
    }
    14.2%{
        background-image: url("../img/pubs/cegerem/Bohém Tanya.jpg");
    }
    21.3%{
        background-image: url("../img/pubs/cegerem/Campus Beer_More.jpg");
    }
    28.4%{
        background-image: url("../img/pubs/cegerem/Cool Club.jpg");
    }
    35.5%{
        background-image: url("../img/pubs/cegerem/DTK_Pub.jpg");
    }
    42.6%{
        background-image: url("../img/pubs/cegerem/LvL Up eSport Bár.JPG");
    }
    49.7%{
        background-image: url("../img/pubs/cegerem/Mignon Pub.jpg");
    }
    56.8%{
        background-image: url("../img/pubs/cegerem/Number One Pub.jpg");
    }
    63.9%{
        background-image: url("../img/pubs/cegerem/Nyugi Kert.jpg");
    }
    70%{
        background-image: url("../img/pubs/cegerem/Pivo Vár Sörbár.jpg");
    }
    77.1%{
        background-image: url("../img/pubs/cegerem/Pixel Bár és Kávézó.jpg");
    }
    84.2%{
        background-image: url("../img/pubs/cegerem/Tiltott Csíki Söröző.jpg");
    }
    91.3%{
        background-image: url("../img/pubs/cegerem/Vár Söröző.jpg");
    }

}
.elems .box:nth-child(2){
    grid-column: span 1;
    grid-row: span 1;
}

.elems .box:nth-child(3){
    grid-column: span 1;
    grid-row: span 3;
}
.elems .box:nth-child(4){
    grid-column: span 1;
    grid-row: span 1;
}
.elems .box:nth-child(5){
    grid-column: span 3;
    grid-row: span 1;
}
@media (max-width: 1231px){
    .elems{
        height: 100%;
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
        grid-template-rows: minmax(auto, auto);

    }
    .elems .box{
        grid-column: unset !important;
        grid-row: unset !important;
    }
}

<!--  -->
.navbar {
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;



}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #006600;
}
.active{
    background-color: #006600;
}

<!--  -->
.logo
{
    border-radius: 50%;
    width: 15%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}


