*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* fleső svu menu */
#menuUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #AF601A;
}

li {
    float: left;
    width: 25%;
}

li a {
    display: block;
    color: white;
    font-family: Candara;
    font-style: revert;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #CA6F1E;
}

.active {
    background-color: #D68910;
}
footer{
    background: #AF601A;
    text-align: center;
    font-size: 9px;
    padding: 2px;
    font-style: unset;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: sienna;
}
/*készitették névegy kinézet*/
.tarolo{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.tarolo .box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 420px;
    margin: 20px;
    background: #F39C12;
    border-radius: 50%;
}
.tarolo .box .tartalom{
    padding: 32px;
    text-align: center;
}
.tarolo .box .tartalom .idezet{
    max-width: 48px;
}
.tarolo .box .tartalom p{
    color: white;
    padding: 20px 0;
}
.tarolo .box .tartalom .ember{
    max-width: 72px;
    border-radius: 50%;
}

.tarolo .box .tartalom h3 {
    color: sienna;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

@media (max-width: 1050px) {
    .tarolo{
        justify-content: center;
    }
}
@media (max-width: 768px) {
    .tarolo .box{
        width: 100%;
        height: auto;
        padding: 30px 20px;
    }
}
/* Login page */
.loginBox{
    font-family: sans-serif;
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #D68910;
    text-align: center;
    border-radius: 15px;
}
.loginBox H1{
    color: #757575;
    text-transform: uppercase;
    font-weight: 500;
}
.loginBox input[type = "text"],.loginBox input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid orange;
    padding: 14px 10px;
    width:200px;
    outline: none;
    color: #757575;
    border-radius: 30px;
}
.loginBox input[type = "text"]:focus,.loginBox input[type = "password"]:focus{
    width: 280px;
    transition: 0.9s;
    border-color: yellowgreen;
}
.loginBox input[type = "submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid yellowgreen;
    padding: 14px 40px;
    outline: none;
    color: #757575;
    border-radius: 24px;
    transition: 0.9s;
    cursor: pointer;
}
.loginBox input[type = "submit"]:hover{
    background: yellowgreen;
}
