.navbar {
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;

}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
    text-decoration: none;
    width: 20%;


}

.navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #006600;
}
.active{
    background-color: #006600;
}

<!--  -->
.card {
    box-shadow: 0 4px 8px 0 rgba(25,25,25,.2);
    background: #f2f2f2;
    transition: 0.3s;
    width: 65%;
    height: max-content;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card1{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background: #f2f2f2;
    transition: 0.3s;
    width: 65%;
    height: max-content;
    border-radius: 5px;
    padding: 1% 5px 5px 5px;
    margin: auto;

}


.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
.card1:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
.logo
{
    border-radius: 50%;
    width: 205px;
    height: 200px;
}


table {
    width: auto;
    margin: revert;
}


iframe{
    width:100%;
    height:200px;

    border:0;

}
h2{

    text-align: center;
    margin-bottom: 10px;
}

td{

    text-align: left;
}
.nyivatartas{ display: block;
    text-decoration: none;
}
.nyivatartas:hover{

    background-color: #006600;
    color: #f2f2f2;
}
td, th {
    border: 1px ;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
}

body{
    margin: 0px;
}

#cf {
    position:relative;
    height:281px;
    width:450px;
    margin:0 auto;
}

#cf img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity:0;
}
td a{
    color: #333333;
    text-decoration: none;
}
main{
    background-image: url("../img/backgroun/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

<!--  -->


th, td {
    padding: 15px;
}

body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
    background: #f2f2f2;
}

span.psw {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

}

select{
    padding-bottom: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    width: 50%;
}
textarea{
    padding-top: 5px ;
    margin-top: 5px;
    width: 100%;
    height: 100px;
}

.felirat{
    margin: 5px;
    padding: 5px;
    width: 100%;
}


